<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <p> Welcome to Google Oauth Trial Application </p>
  </head>
  <body>
      <a href="{{ .link }}"><button>Login with Google!</button></a>
  </body>
</html>